body {
	background: #0d1424 url(images/body-bg.jpg) no-repeat center top;
	color: #666;
  width: 1028px;
  margin-left: auto;
  margin-right: auto;
}
a {
	color: #026acb;
	text-decoration: none;
	outline: none;
}
a:hover {
	text-decoration: underline;
}

.page-header, .page-header  small
{
  color: #FFFFFF;
}

.search-bar
{
  float: right;
}

.sidebar-flickr-left 
{
	width: 175px;
	float: left;
	margin: 30px 0 30px;
  display: inline;
}

.main
{
	background: #fff;
	margin: 30px 0 30px;
	padding: 20px 35px;
	width: 550px;
	float: left;
	/* rounded corner */
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	/* box shadow */
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	box-shadow: 0 1px 3px rgba(0,0,0,.4);  
}

.post-title
{
  font-size: 32px;
  font-weight: bold;
}
  
.post-title a {
	text-decoration: none;
	color: #000;
}  
  
.sidebar 
{
	width: 175px;
	float: right;
	margin: 30px 0 30px;
}

.sidebar-flickr-bottom {
	width: 175px;
	float: left;
	margin: 30px 0 30px;
  display: none;
}
